<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="css/libre1b.css">
        <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>
        <link rel="stylesheet" href="css/light.css" media="(prefers-color-scheme: light)">
        <link rel="stylesheet" href="css/dark.css" media="(prefers-color-scheme: dark)">
        <meta name="color-scheme" content="dark light">
    </head>
    <body>
       
        <div th:replace="index :: navbar2"></div>
        
        <div class="form-login">
        <form th:action="@{/cargarPublicacionFrom}" method = "POST"> <!-- enctype="multipart/form-data" este ultimo para enviar archivo-->                 
        <h5>Formulario de publicacion de clasificado</h5>
        <p th:if="${Error != null}" th:text="${Error}" style=color:red;></p><!--esto vincula al controlador error con servicio--> 
        
        <!--<input type="file" class="form-control" name="archivo" placeholder="foto"/>  envia el archivo ala base de datos -->       
        <input type="file" class="form-control" name="archivo" placeholder="foto"/>
        <input th:value="${titulo}" class="form-control" type="text" name="titulo" placeholder="Titulo"/> <!-- envia el nombre ala base de datos -->
        <input th:value="${precio}" class="form-control" type="number" name="precio" placeholder="Precio"/>
        <input th:value="${localidad}" class="form-control" type="text" name="localidad" placeholder="Localidad"/> <!-- envia el apellido ala base de datos -->
        <input th:value="${oficio}" class="form-control" type="text" name="oficio" placeholder="Oficio"/> <!-- envia el email ala base de datos -->
        <input th:value="${descripcion}" class="form-control" type="text" name="descripcion" placeholder="Descripcion"/>
        <button class="buttons" type="submit" name="registro" onclick="alert('Registrado')"> publicar clasificado</button> <!-- boton para enviar todo lo demas ala base de datos -->
        <button class="buttons" type="reset" name="borrar" onclick="alert('Borrado')"> Limpiar publicacion de clasificado</button>    <!-- boton para limpiar registro de formulario -->    
    </form>
        </div>   
        
      <div th:replace="index :: footer2"></div>
        
        
    </body>
</html>
